<!-- 

    Image optimization
To ensure the proper performance of the page, it is recommended to include thumbnails of images in the src attribute.
 Then in the data-mdb-img attribute add the path to the image with higher resolution. 
 If the data-mdb-img attribute is omitted, the lightbox will display the same image as in the reduced size.

 -->


 <img
  src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
  data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
  alt="Table Full of Spices"
  class="w-100"
/>