<!-- Shadows and rounded corners
You can improve the look of the images by adding shadows and rounded corners. -->

<div class="lightbox">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt="Table Full of Spices"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/2.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/2.webp"
          alt="Winter Landscape"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/3.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/3.webp"
          alt="View of the City in the Mountains"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </div>