<!-- Basic example
Chips can be used to represent small blocks of information. They are most commonly used either for contacts or for tags. -->


<div class="chip" data-mdb-close="true">Text</div>
<div class="chip">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="Contact Person" />
  John Doe
  <i class="close fas fa-times"></i>
</div>

<div class="chip chip-md">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="Contact Person" />
  John Doe
  <i class="close fas fa-times"></i>
</div>

<div class="chip chip-lg">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="Contact Person" />
  John Doe
  <i class="close fas fa-times"></i>
</div>