<!-- Outline
You can use outline styling with add btn-outline-color to your chip. -->


<div class="chip chip-outline btn-outline-primary" data-mdb-ripple-color="dark">
    Primary
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-secondary" data-mdb-ripple-color="dark">
    Secondary
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-success" data-mdb-ripple-color="dark">
    Success
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-danger" data-mdb-ripple-color="dark">
    Danger
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-warning" data-mdb-ripple-color="dark">
    Warning
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-info" data-mdb-ripple-color="dark">
    Info
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-light" data-mdb-ripple-color="dark">
    Light
    <i class="close fas fa-times"></i>
  </div>
  <div class="chip chip-outline btn-outline-dark" data-mdb-ripple-color="dark">
    Dark
    <i class="close fas fa-times"></i>
  </div>