<!-- ======= Resume Section ======= -->
<section id="resume" class="resume mb-10">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h4 class="display-6 fw-bold text-center">RESUME</h4>
            <hr class="hr hr-blurry mb-lg-5 mb-5 w-25 mx-auto">
            <p class="text-center" style="color: #aaabb6">In addition to my technical skills, I am a strong
                communicator,
                a team player, and
                always eager to learn
                new technologies and techniques to stay ahead of the curve. I am committed to delivering projects on
                time
                and on budget, and take pride in providing exceptional customer service to my clients.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0" style="color: #aaabb6;">
                    <h4>Nathaniel E. Adama</h4>
                    <p><em>Innovative and deadline-driven Developer with 1+ years of experience designing and
                            developing user-centered digital/print marketing material from initial concept to final,
                            polished
                            deliverable.</em></p>
                    <ul class="list-unstyled">
                        <li> <i class="fas fa-arrow-right pe-2"></i> Accra, GHANA</li>
                        <li> <i class="fas fa-arrow-right pe-2"></i> (233) 558-218-741</li>
                        <li> <i class="fas fa-arrow-right pe-2"></i> kvngnathan8420@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item " style="color: #aaabb6;">
                    <h4>HND Networking &amp; Management</h4>
                    <h5 class="text-muted">2022 - Present</h5>
                    <p><em>Koforidua Technical University, Koforidua, Eastern Region</em></p>
                    <p>A level 200 Koforidua Technical School student who specializes on computer networking and
                        management
                    </p>
                </div>
                <div class="resume-item" style="color: #aaabb6;">
                    <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
                    <h5 class="text-muted">2010 - 2014</h5>
                    <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione
                        eius
                        unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader
                        mart
                        dila</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item" style="color: #aaabb6;">
                    <h4>Lead Programmer / President</h4>
                    <h5 class="text-muted">2019 - Present</h5>
                    <p><em>PyCode-Camp, Koforidua Technical Unversity, Koforidua </em></p>
                    <p><em> PyCode-Camp is a Team of passionate , talented and diverse students with different skill
                            sets,
                            coming together to help each other grow. </em></p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-arrow-right pe-2"></i> Lead in the design, development, and implementation
                            of the
                            graphic, layout, and production
                            communication materials</li>
                        <li> <i class="fas fa-arrow-right pe-2"></i> Delegate tasks to the 10 members of the team and
                            provide
                            counsel on all aspects of the
                            project. </li>
                        <li> <i class="fas fa-arrow-right pe-2"></i> Supervise the assessment of all graphic materials
                            in order
                            to ensure quality and accuracy of the
                            design</li>

                    </ul>
                </div>
                <div class="resume-item" style="color: #aaabb6;">
                    <h4>IT Specialist &amp; App Developer</h4>
                    <h5 class="text-muted">2017 - 2018</h5>
                    <p><em>University Of Ghana, Legon, Accra</em></p>
                    <ul class="list-unstyled">
                        <li> <i class="fas fa-arrow-right pe-2"></i> Developed a help desk complaint system.</li>
                        <li> <i class="fas fa-arrow-right pe-2"></i> Managed up to 3 projects or tasks at a given time
                            while
                            under pressure</li>
                        <li> <i class="fas fa-arrow-right pe-2"></i> Fulfilled my IT specialist duties along side
                            building
                            projects</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Resume Section -->



<!-- <li class="mb-3"><i class="fas fa-chevron-circle-right me-2"></i> <strong>Website:</strong>
                          <span>www.example.com</span>
                        </li> -->


<!-- <li class="mb-3"><i class="fas fa-chevron-circle-right me-2"></i> <strong>Degree:</strong>
                          <span>HND</span>
                        </li> -->