<!--
    Dismissing
Using the alert JavaScript plugin, it’s possible to dismiss any alert inline. Here’s how:

Be sure you’ve loaded the alert plugin, or the compiled Bootstrap JavaScript.

Add a close button and the .alert-dismissible class, which adds extra padding to the right of the alert and positions the close button.

On the close button, add the data-mdb-dismiss="alert" attribute, which triggers the JavaScript functionality. Be sure to use the button element with it for proper behavior across all devices.

To animate alerts when dismissing them, be sure to add the .fade and .show classes.

You can see this in action with a live demo:
  -->


<div class="alert alert-dismissible fade show" role="alert" data-mdb-color="warning">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
  </div>