<!--  Stacking
You can turn on stacking your alerts using the data-mdb-stacking attribute.-->


<div class="container text-center">
    <button type="button" class="btn btn-primary" id="stacking-trigger-example">
      Show notification
    </button>
  </div>



  <script>

    let alertCount = 0;

function* colorGenerator(i) {
  const colors = ['primary', 'warning', 'info', 'success', 'secondary', 'danger', 'light'];

  while (true) {
    yield colors[i];

    i++;

    if (i > colors.length - 1) {
      i = 0;
    }
  }
}

const colorIterator = colorGenerator(0);

document.getElementById('stacking-trigger-example').addEventListener('click', () => {
  alertCount++;
  color = colorIterator.next().value;

  const alert = document.createElement('div');
  alert.innerHTML = `
    <div class="d-flex justify-content-between">
      <p class="mb-0"><strong>${alertCount}.</strong> Stacking alerts</p>
      <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
  `;
  alert.classList.add('alert', 'fade');

  document.body.appendChild(alert);

  const alertInstance = new mdb.Alert(alert, {
    color,
    stacking: true,
    hidden: true,
    width: '450px',
    position: 'bottom-right',
    autohide: true,
    delay: 5000,
  });

  alertInstance.show();
});
  </script>