<!-- Static examples
Use .alert class, followed by one of the contextual classes alert-success, 
.alert-info, .alert-warning, .alert-danger, .alert-primary, .alert-secondary, 
.alert-light or .alert-dark to create an alert. -->


<div class="alert" role="alert" data-mdb-color="primary">
    A simple primary alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="secondary">
    A simple secondary alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="success">
    A simple success alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="danger">
    A simple danger alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="warning">
    A simple warning alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="info">
    A simple info alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="light">
    A simple light alert—check it out!
  </div>
  <div class="alert" role="alert" data-mdb-color="dark">
    A simple dark alert—check it out!
  </div>