<!--

    Inline positions
You can choose between different positions
  -->


<button type="button" data-mdb-popconfirm-mode="inline" data-mdb-position="top left" class="btn btn-primary popconfirm-toggle">
    Top left
  </button>
  <button type="button" data-mdb-popconfirm-mode="inline" data-mdb-position="bottom" class="btn btn-primary popconfirm-toggle">
    Bottom
  </button>
  <button type="button" data-mdb-popconfirm-mode="inline" data-mdb-position="right top" class="btn btn-primary popconfirm-toggle">
    Right top
  </button>